
  <md-content layout-padding="">
    <div>
      <form name="userForm">

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs="">
            <label>Company</label>
            <input ng-model="company" ng-required="true">
          </md-input-container>

          <md-input-container>
            <label>Start Date</label>
            <md-datepicker ng-model="start" ng-required="true"></md-datepicker>
          </md-input-container>

          <md-input-container>
            <label>End Date</label>
            <md-datepicker ng-model="end" ng-required="true"></md-datepicker>
          </md-input-container>
        </div>

          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Contact</label>
            <input ng-model="contactName" ng-required="true">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Email</label>
            <input ng-model="email" ng-required="true">
          </md-input-container>
        </div>

        </div>

        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="description" md-maxlength="300" rows="5" md-select-on-focus="" ng-required="true"></textarea>
        </md-input-container>

          <div flex="100" flex-gt-sm="50" layout="column">
            <div>
              <fieldset class="standard">
                <legend>Employees</legend>
                <div layout="row" layout-wrap="" flex="">
                  <div flex="50" ng-repeat="item in items track by item._id">
                    <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)" ng-required="true">
                      {{ item.firstName }} {{ item.lastName}}
                    </md-checkbox>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
      </form>
    </div>


    <md-button class="btn1" ng-click="submitProjectPressed();"> Submit </md-button>
  </md-content>
