  <md-content layout-padding="">
    <div>
      <form name="projectForm">

    
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Company</label>
            <input ng-model="company">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Contact's Email</label>
            <input ng-model="email">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Contact's Name</label>
            <input ng-model="contactName">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>url</label>
            <input ng-model="url">
          </md-input-container>
        </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="project.description" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

        <md-button class="btn1" ng-click="createProject();"> Submit </md-button>
      </form>
    </div>
</md-content>