<md-toolbar class="md-tall">
      <h1 class="md-toolbar-tools center">Manager Material</h1>
</md-toolbar>
<div layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons">

<h2 class="md-toolbar-tools">Manager Material</h2>

<p><b>Manager Material</b> is an app that allows a manager to manage different projects on a team.</p>
<p><b>When</b> a manager goes to the home page, the manager can see an overview of current projects, employees, and a calendar displaying all of the projects.</p>
<p><b>Slack Integration</b> gives employees the ability to quickly and easily view and update projects via slack.</p>
<p><b>Automated Emails</b> keeps customers in the loop without disrupting employee workflow.</p>
<p><b>Calendar Overview</b> shows managers the big picturea about what their teams are working on.</p>
</div>
<md-toolbar>
    <div class="md-toolbar-tools">  
      <md-button class="md-raised" ng-href="/#/main">
        Give Manager Material a try
      </md-button>
    </div>
</md-toolbar>
