<md-toolbar class="md-tall">
      <h1 class="md-toolbar-tools center">Manager Material</h1>
</md-toolbar>
<div layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons">

    <md-input-container class="md-block">
      <input ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>

    <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Password</label>
      <input ng-model="password" type="text">
    </md-input-container>

    <md-button class="md-raised" ng-click="loginPressed()">Login</md-button>
  </md-content>

</div>

