<md-toolbar class="md-tall">
      <h1 class="md-toolbar-tools center">Manager Material</h1>
</md-toolbar>
<div layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons">

<h2 class="md-toolbar-tools">Manager Material</h2>

<p><b>Manager Material</b> is an app that allows a manager to manage different projects on a team.</p>
<p><b>When</b> a manager goes to the home page, the manager can see an overview of current projects, employees, and a calendar displaying all of the projects.</p>
<p>Manager Material incorporates custom slack integrations for employees to interface with the app.</p>

</div>
<md-toolbar>
    <div class="md-toolbar-tools">  
      <md-button class="md-raised" ng-href="/#/main">
        Enter Manager Material
      </md-button>
    </div>
</md-toolbar>
