<!--<div class="layout-padding">-->
<md-toolbar>
      <div class="md-toolbar-tools">
    
        <h2>
          <span>Manager Material</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-raised" ng-href="/#/calendar">
          Calendar View
        </md-button>
       
      </div>
    </md-toolbar>

<div layout="row" layout-xs="column">
  <div flex >
    <md-toolbar>
      <div class="md-toolbar-tools md-accent">
        <h2>
          <span>Projects</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-raised" ng-href="/#/create-project">
          Create New Project
        </md-button>
      </div>
    </md-toolbar>

<div ng-repeat="date in dates">
       <md-card md-theme="cyan" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{date.title}}</span>
            <span class="md-subhead"><b>{{date.company}}</b></span>
            <span class="md-subhead"><b>Deadline:</b> {{date.end | date:'medium'}}</span>
            <span class="md-subhead"><b>Last Update:</b> {{date.updates[date.updates.length - 1].message}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-href="/#/project-view/{{date._id}}">view</md-button>
        </md-card-actions>
      </md-card>
</div>
  </div>
  <div flex>

        <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Employees</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-raised" ng-href="/#/create-employee">
          Create New Employee
        </md-button>
      </div>
    </md-toolbar>
<div ng-repeat="emp in employees">
       <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{emp.firstName}} {{emp.lastName}}</span>
            
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-href="/#/employee-view/{{emp._id}}">View</md-button>
        </md-card-actions>
      </md-card>
</div>

  </div>
</div>
<!--</div>-->